In [7]:
#Q1. Create one variable containing following type of data:
a = "Ravi"
print(type(a))

<class 'str'>

In [4]:
a = ["Ravi","Kant",23,"Ravi44554"]
print(type(a))

<class 'list'>

In [5]:
a = 3.146
print(type(a))

<class 'float'>

In [6]:
a = ("Ravi","Kant",23,"Ravi44554")
print(type(a))

<class 'tuple'>

In [ ]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘                                           -----> string
#(ii) var2 = ‘[ DS , ML , Python]’                        -----> string
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]                  -----> List
#(iv) var4 = 1.                                           -----> Integer
#What will be the data type of the above given variable.

In [10]:
#Q3. Explain the use of the following operators using an example:
#(i) /     ------> Qu
#(ii) %    ------> Reminder
#(iii) //  ------> To perform floor division.
#(iv) **   ------> Works as an exponentiation operator

<class 'str'>

In [11]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

mylist = ["Ravi","Kant",12,'A',12.232,{"Hello"},("World"),2331187,"Thanks To PW",'@@#$%$$$']

for x in mylist:
  print(x)
  print(type(x))

Ravi
<class 'str'>
Kant
<class 'str'>
12
<class 'int'>
A
<class 'str'>
12.232
<class 'float'>
{'Hello'}
<class 'set'>
World
<class 'str'>
2331187
<class 'int'>
Thanks To PW
<class 'str'>
@@#$%$$$
<class 'str'>

In [17]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A = 100
B = 2

count = 0  # Initialize the count

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

25.0 is divisible by 2 and can be divided 2 times.

In [18]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

numbers = [12, 7, 15, 9, 30, 21, 8, 6, 18, 13, 27, 14, 10, 24, 11, 5, 36, 22, 16, 33, 19, 4, 25, 17, 20]

# Iterate over the list using a for loop
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
15 is divisible by 3.
9 is divisible by 3.
30 is divisible by 3.
21 is divisible by 3.
8 is not divisible by 3.
6 is divisible by 3.
18 is divisible by 3.
13 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
10 is not divisible by 3.
24 is divisible by 3.
11 is not divisible by 3.
5 is not divisible by 3.
36 is divisible by 3.
22 is not divisible by 3.
16 is not divisible by 3.
33 is divisible by 3.
19 is not divisible by 3.
4 is not divisible by 3.
25 is not divisible by 3.
17 is not divisible by 3.
20 is not divisible by 3.

In [19]:
#Immutable data types, like strings and tuples, cannot be modified once created, ensuring data integrity.
#Mutable data types, such as lists and dictionaries, can be modified, allowing flexibility. Immutable objects are useful for scenarios where changes should be avoided, while mutable objects are advantageous when dynamic modifications are required.
#Understanding the distinction helps in selecting appropriate data types for specific needs.

#Example of an immutable data type:

#String: Once a string is created, its value cannot be changed. For example:

name = "John"
# Attempting to modify the string will result in creating a new string
new_name = name + " Doe"


#Example of a mutable data type:

#List: Lists can be modified by adding, removing, or modifying elements. For example:

numbers = [1, 2, 3]
numbers[0] = 10  # Modifying an element in the list
numbers.append(4)  # Adding an element to the list